@charset "UTF-8";

body {
	height: 100%;
	background-image:
		url("https://images7.alphacoders.com/632/632898.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pageHeader {
	color: white;
}

#errorHeader {
	color: red;
}